cloudflare:
  apiTokens:
    dns: null
    # Includes origin CA
    tlsCertificates: null

traefik:
  dashboard:
    password: null

postgres:
  user: null
  password: null
  database: null
  host: null
