postgres:
  uri: "postgresql://{{ .Values.postgres.user }}:{{ .Values.postgres.password }}@{{ .Values.postgres.host }}:5432/{{ .Values.postgres.database }}"
  jdbcUri: "jdbc:postgresql://{{ .Values.postgres.host }}:5432/{{ .Values.postgres.database }}?user={{ .Values.postgres.user }}&password={{ .Values.postgres.password }}"
