{{- range $namespace, $pushSecrets := .Values.pushSecrets }}
{{- range $pushSecret := $pushSecrets }}
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ $pushSecret.name }}
spec:
  secretStoreRefs:
  - name: {{ include "shared-secrets.k8sSecretStoreName" (list $ $namespace) }}
    kind: SecretStore
  selector:
    secret:
      name: {{ $pushSecret.name }}
  data:
  - match:
      remoteRef:
        remoteKey: {{ $pushSecret.name }}
  {{- $pushSecret.spec | toYaml | nindent 2}}
{{- end }}
{{- end }}
