{{- if .Values.serviceAccount.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "shared-secrets.roleName" . }}
  labels:
    {{- include "shared-secrets.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources:
  - secrets
  verbs:
  # Used to read secrets and authenticate and also used to push secrest to other namespaces
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
# This will allow the role to perform **permission reviews** for itself within the defined namespace:
- apiGroups:
  - authorization.k8s.io
  resources:
  - selfsubjectrulesreviews 
  verbs:
  - create
{{- end }}
